body{
  background-color:   #101010
;
}

P{
  /*font-family: 'Anton', sans-serif;
  letter-spacing: 10pt;*/
}
hr{
  border: solid 2px yellow;
  width: 20%;
}
.long{
  /*border: solid 2px red;*/
  height: 3999px
}
.fixe {
  /*position: fixed;*/
}
h3, p  {
  text-align: center;
  text-transform:  capitalize;
  /*border: solid 1px green;*/
    color: white;
    font-family: 'Anton', sans-serif;
}
/*rgb(181, 189, 43)*/
.photo{
  background-color: rgb(79, 83, 66);
background-image: url("test_stage-master/image_base/detection-codebarres.jpg") ;
background-size: contain;
/*border: solid 1px red;*/
  height: 37vh;
}

.photo2{
  background-color: rgb(79, 83, 66);
background-image: url("test_stage-master/image_base/drone_entrepot1.png") ;
background-size: cover;
/*border: solid 1px red;*/
  height: 37vh;
}
.photo3{
  background-color: rgb(79, 83, 66);
background-image: url("test_stage-master/image_base/emplacement-vide.png") ;
background-size: cover;
/*border: solid 1px red;*/
  height: 47vh;
}
.vide {
  height: 60px;
}

.photo4{
  /*background-image: url("test_stage-master/image_base/business_plan.jpg");*/
  background-size: cover;
  height: 37vh;
/*border: solid 2px blue;*/
}

.photo5{
  /*background-image: url("test_stage-master/image_base/Handshake.png");*/
  /*background-size: cover;*/
  height: 37vh;
/*border: solid 2px blue;*/
}
img{
  width: 100%;
  height: 40vh;
  filter: blur(2px);
}
img:hover{
  filter: none;
}
.photo6{
  /*background-image: url("test_stage-master/image_base/index.jpeg");*/
  background-size: cover;
  height: 37vh;
/*border: solid 2px blue;*/
}
.text4{
  border: solid 2px blue;
  height: 8vh
}
.liste1{
  border: solid 2px red;
height: 11vh;
/*display: flex;*/
/*align-items: flex-end;*/
}
.carre{
  border: solid  2px red;
  height: 10vh;
}
.description{
  border: solid 1px red;
}
